### *100495718 Alicia Sáenz de Zaítigui*
### *100495931 Irene Muñoz*

# PRÁCTICA 1 APRENDIZAJE AUTOMÁTICO: EDA

Para comenzar, importamos la biblioteca pandas para leer los datos y poder comenzar el análisis.

In [17]:
import pandas as pd

# Leer el archivo CSV
datos = pd.read_csv('attrition_availabledata_09.csv')

datos

,hrs,absences,JobInvolvement,PerformanceRating,EnvironmentSatisfaction,JobSatisfaction,WorkLifeBalance,Age,BusinessTravel,Department,...,Over18,PercentSalaryHike,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,YearsAtCompany,YearsSinceLastPromotion,YearsWithCurrManager,Attrition
0,7.434015,8,3,3,4.0,2.0,3.0,25,Travel_Rarely,Research & Development,...,Y,11,8,1,4.0,3,3,1,2,No
1,6.572103,15,4,3,3.0,3.0,3.0,18,Non-Travel,Research & Development,...,Y,18,8,0,0.0,5,0,0,0,Yes
2,8.075888,4,3,3,1.0,4.0,3.0,33,Travel_Frequently,Sales,...,Y,14,8,1,15.0,2,15,8,12,No
3,8.694279,6,3,3,4.0,3.0,2.0,37,Travel_Rarely,Sales,...,Y,14,8,0,17.0,3,3,1,0,No
4,6.646379,9,3,4,1.0,4.0,3.0,56,Travel_Rarely,Human Resources,...,Y,21,8,0,5.0,3,4,1,0,Yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2935,5.622518,16,2,4,1.0,2.0,2.0,50,Travel_Rarely,Sales,...,Y,23,8,0,28.0,2,10,1,6,No
2936,9.553096,4,3,3,4.0,2.0,3.0,41,Travel_Rarely,Research & Development,...,Y,19,8,2,8.0,0,5,1,2,No
2937,6.734752,19,1,3,2.0,2.0,4.0,40,Travel_Rarely,Research & Development,...,Y,12,8,0,7.0,2,5,1,3,No
2938,8.035525,14,2,3,3.0,4.0,3.0,44,Travel_Rarely,Research & Development,...,Y,12,8,0,8.0,2,2,2,2,No
2939,6.524198,21,4,3,2.0,2.0,3.0,39,Travel_Rarely,Sales,...,Y,17,8,1,9.0,2,2,2,2,No